/* My personal agenda css page */

/*=============================*/
/*            Global           */
/*=============================*/

body
{
	background-image: url(../img/paper.png);
}

#administrator-body {
	background-image: url(../img/bo_play_pattern.png);
}

.custom-well
{
	background-color:white;
	border:1px none;
}

.hidden-elements
{
	display:none;
}

#notifications
{
	position: fixed;
	z-index:4;
	width: 100%;
}

#ajax-loader
{
	position: fixed;
    left : 49%;
	right : 49%;
	bottom : 49%;
	top : 49%;
	width : auto;
	z-index: 4;
}

/*=============================*/
/*            Main             */
/*=============================*/

.activity-section
{
	background-color : white;
}

textarea
{
   resize: none;
}

.activity-btn
{
	margin-left : 5px;
}

/*=============================*/
/*         Parameters          */
/*=============================*/

.alert-tl-label
{
	padding-top:5px;
}