<!DOCTYPE html>
<html>
	<head>
		<meta charset=UTF-8>
		<title>Administrateur - Gestions des types d'activités - My Personal Agenda</title>
		<!-- include '../css_files' -->
		<!-- include '../js_files' -->
	</head>
	<body id="administrator-body">
		<!-- include 'administrator_menu_bar' -->
		<div class="row">
		  <div class="col-md-10 col-md-offset-1 well">
		  	<h4><span class="glyphicon glyphicon-list-alt"></span> Liste des types d'activités</h4>
		  	<hr>
		  	<!-- if {{isset(admin_activitytypes_table)}} -->
		  	<table class="table table-bordered table-striped">
		  		<tr>
			  		<th>Nom</th>
			  		<th>Description</th>
			  	</tr>
			  	<!-- loop admin_activitytypes_table -->
			  	<tr>
			  		<td>{{admin_activitytypes_table' value.activity_type_name}}</td>
			  		<td>{{admin_activitytypes_table' value.activity_type_description}}</td>
			  		<td>
			  			<a href="javascript:void(0)" class="btn btn-primary"><span class="glyphicon glyphicon-pencil"></span></a>
			  			<a href="javascript:void(0)" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span></a>
			  		</td>
				</tr>
			  	<!-- endloop -->
			</table>
		  	<!-- else -->
		  	<p>Aucun type d'activité n'a ete enregistré dans l'application</p>
		  	<!-- endif -->
		  </div>
		</div>
	
	</body>
</html>