/* My personal agenda css page */

/*=============================*/
/*            Global           */
/*=============================*/

body
{
	background-image: url(../img/paper.png);
}

#administrator-body {
	background-image: url(../img/bo_play_pattern.png);
}

.custom-well
{
	background-color:white;
	border:1px none;
	box-shadow:none;
}

.custom-well-grey
{
	border:1px none;
	box-shadow:none;
}

.custom-alert
{
	border-color: none;
	border: none;
}


.custom-well-header
{
	font-size: 16px;
	font-weight: 500;
}

.custom-panel 
{
	border: 1px none;
	box-shadow:none;
}

.custom-navbar
{
	background-color:white;
	border: 1px none;
	box-shadow:none;
	z-index:20;
}

.hidden-elements
{
	display:none;
}

#notifications
{
	position: fixed;
	z-index:30;
	width: 100%;
}

.form-control
{
	box-shadow: none!important;
}

#ajax-loader
{
	position: fixed;
    left : 49%;
	right : 49%;
	bottom : 49%;
	top : 49%;
	width : auto;
	z-index: 4;
}

/*=============================*/
/*            Main             */
/*=============================*/

textarea
{
   resize: none;
}

.activity-btn
{
	margin-left : 5px;
}

/*=============================*/
/*         Parameters          */
/*=============================*/

.alert-tl-label
{
	padding-top:5px;
}

.activity-type-name, .activity-type-description
{
	border-bottom: none!important;
	color:black;
}

.notification-panel
{
	box-shadow:none;
}

.reduce:hover
{
	cursor:pointer; 
}