<!DOCTYPE html>
<html>
<head>
	<meta charset=UTF-8>
	<title>Page principale - My Personal Agenda</title>
	<!-- include 'css_files' -->
	<link href="{{globalurl}}css/bootstrap-extensions/bootstrap-notify/bootstrap-notify.css" rel="stylesheet">
	<!-- include 'js_files' -->
	<script type="text/javascript" src="{{globalurl}}js/bootstrap-extensions/bootstrap-notify/bootstrap-notify.js"></script>
</head>
<body>
	<div style="z-index: 10;" class='notifications bottom-right'></div>
	<!-- include 'menu_bar' -->
	<input type="hidden" id="base-url" value="{{baseurl}}">
	
	<div id="user-parameters" class="hidden-elements">
		<div id="simple_alert_msg">{{notification.simple_alert_msg}}</div>
		<div id="simple_alert_tl">{{notification.simple_alert_tl}}</div>
		<div id="critical_alert_msg">{{notification.critical_alert_msg}}</div>
		<div id="critical_alert_tl">{{notification.critical_alert_tl}}</div>
		<div id="end_activity_msg">{{notification.end_activity_msg}}</div>
	</div>

	<div class="row">
		<div class="col-md-5 col-md-offset-1">
			<div class="pull-right">
				<!-- if {{isset(display_export_btn)}} -->
				<a href="{{baseurl}}exportactivities" class="btn btn-success">Exporter</a>
				<!-- endif -->
				<a href="{{baseurl}}activity" class="btn btn-info">Ajouter une activité</a>
			</div>
			<br><br><br>
			<!-- if {{isset(activities)}} -->
			<div id="activity-section-panel">
				<!-- loop activities -->
				<div class="well custom-well">
					<a href="javascript:void(0)" id="activity-{{activities' value.activity_id}}" class="btn btn-danger btn-xs activity-btn pull-right del-activity"><span class="glyphicon glyphicon-trash"></span></a>
					<a href="{{baseurl}}activity/{{activities' value.activity_id}}" class="btn btn-info btn-xs activity-btn pull-right edit-activity"><span class="glyphicon glyphicon-pencil"></span></a>
					<a href="javascript:void(0)" id="seeactivity-{{activities' value.activity_id}}" class="btn btn-warning btn-xs activity-btn pull-right see-activity"><span class="glyphicon glyphicon-eye-open"></span></a>
					<div class="activityNameForNotif custom-well-header">[{{activities' value.activity_type.activity_type_name}}] {{activities' value.title}}</div>
					<hr>
					<p class="activityDescription">{{activities' value.description}}</p><br>
					<!-- if {{activities' value.nb_days_left}} == 0 && {{activities' value.nb_hours_left}} == 0 && {{activities' value.nb_minutes_left}} == 0 && {{activities' value.nb_seconds_left}} == 0 -->
					<p class="bg-success">L'activite est terminée</p><br>
					<!-- else -->
					<p class="bg-info">Il reste <span class="text-info"><strong>{{activities' value.nb_days_left}}</strong></span> jour(s), <span class="text-info"><strong>{{activities' value.nb_hours_left}}</strong></span> heure(s), <span class="text-info"><strong>{{activities' value.nb_minutes_left}}</strong></span> minute(s) et <span class="text-info"><strong>{{activities' value.nb_seconds_left}}</strong></span> seconde(s)  avant la fin de cet activité.</p><br>
					<!-- endif -->
					<p>Pourcentage accompli :</p>
					<div class="progress progress-striped active">
					  <div class="activityPercentDone hidden-elements">Pourcentage accompli : {{activities' value.percent_done}}%</div>
					  <!-- if {{activities' value.percent_done}} < 40 -->
					  <div class="progress-bar progress-bar-danger"  role="progressbar" style="width: {{activities' value.percent_done}}%">
					  <!-- elseif {{activities' value.percent_done}} >= 40 && {{activities' value.percent_done}} < 70 -->
					  <div class="progress-bar progress-bar-warning"  role="progressbar" style="width: {{activities' value.percent_done}}%">
					  <!-- else -->
					  <div class="progress-bar progress-bar-success"  role="progressbar" style="width: {{activities' value.percent_done}}%">
					  <!-- endif -->
					    {{activities' value.percent_done}}%
					  </div>
					</div>
					<div class="leftTimeSeconds hidden-elements">{{activities' value.tmpLeft}}</div>
					<div class="activityCommentary hidden-elements">{{activities' value.commentary}}</div>
					<div class="activityEndDate hidden-elements">{{activities' value.end_date}}</div> 
				</div>
				<!-- endloop -->
			</div>
			<!-- else -->
			<div class="well custom-well">Aucune activité n'a été planifiée.</div>
			<!-- endif -->
		</div>
		<div class="col-md-5">
			<div class="pull-right">
				<a href="{{baseurl}}note" class="btn btn-info">Ajouter une note</a>
			</div>
			<br><br><br>
			<!-- if {{isset(notes)}} -->
			<div id="note-section-panel">
				<!-- loop notes -->
				<div class="panel panel-info custom-panel ">
				  <div class="panel-heading">
				  	<a href="javascript:void(0)" id="note-{{notes' value.note_id}}" class="btn btn-danger btn-xs activity-btn pull-right del-note"><span class="glyphicon glyphicon-trash"></span></a>
				  	<a href="{{baseurl}}note/{{notes' value.note_id}}" class="btn btn-info btn-xs activity-btn pull-right edit-note"><span class="glyphicon glyphicon-pencil"></span></a>
				    <h3 class="panel-title">{{notes' value.title}}</h3>
				  </div>
				  <div class="panel-body">
				    {{notes' value.full_content}}
				  </div>
				</div>
				<!-- endloop -->
			</div>
			<!-- else -->
			<div class="well custom-well">Aucune note n'est enregistrée dans l'application</div>
			<!-- endif -->
		</div>
	</div>
	<!-- include 'main-page-modals/delete_activity_modal' -->
	<!-- include 'main-page-modals/delete_note_modal' -->
	<!-- include 'main-page-modals/activity_modal' -->
	</body>
	<script type="text/javascript" src="{{globalurl}}js/main_page.js"></script>
</html>