<div><span class="glyphicon glyphicon-user"></span> MON PROFIL</div><hr>
<form id="update-profile-form" method="post" action="{{baseurl}}editprofile" role="form">
	<div class="form-group">
		<label for="inputFirstNameProfile">Prénom :</label><br>
		<input type="text" value="{{user.firstname}}" class="form-control" name="inputFirstNameProfile" id="inputFirstNameProfile" placeholder="Prénom">
	</div>
	<div class="form-group">
		<label for="inputLastNameProfile">Nom :</label><br>
		<input type="text" value="{{user.lastname}}" class="form-control" name="inputLastNameProfile" id="inputLastNameProfile" placeholder="Nom">
	</div>  
	<div class="form-group">
		<label for="inputEmailProfile">Email :</label><br>
		<input type="text" value="{{user.email}}" class="form-control" name="inputEmailProfile" id="inputEmailProfile" placeholder="Email">
	</div><br>
	<div class="form-group">
		<a href="javascript:void(0)" id="to-update-profile-action" class="btn btn-default">Editer mon profil</a>
	</div>
</form>