<!DOCTYPE html>
<html>
<head>
	<meta charset=UTF-8>
	<title>Page principale - My Personal Agenda</title>
	<!-- include 'css_files' -->
	<link href="{{baseurl}}global/css/bootstrap-extensions/bootstrap-notify/bootstrap-notify.css" rel="stylesheet">
	<!-- include 'js_files' -->
	<script type="text/javascript" src="{{baseurl}}global/js/bootstrap-extensions/bootstrap-notify/bootstrap-notify.js"></script>
</head>
<body>
	<div style="z-index: 10;" class='notifications bottom-right'></div>
	<!-- include 'menu_bar' -->
	<input type="hidden" id="base-url" value="{{baseurl}}">
	
	<div id="user-parameters" class="hidden-elements">
		<div id="simple_alert_msg">{{notification.simple_alert_msg}}</div>
		<div id="simple_alert_tl">{{notification.simple_alert_tl}}</div>
		<div id="critical_alert_msg">{{notification.critical_alert_msg}}</div>
		<div id="critical_alert_tl">{{notification.critical_alert_tl}}</div>
		<div id="end_activity_msg">{{notification.end_activity_msg}}</div>
	</div>
	
	<div class="row">
		<div class="col-md-5 col-md-offset-1 well">
			<div><span class="glyphicon glyphicon-dashboard"></span> ACTIVITES<a href="{{baseurl}}activity" class="btn btn-info pull-right">Ajouter une activité</a></div>
			<hr>
			<!-- if {{isset(activities)}} -->
			<div id="activity-section-panel">
				<!-- loop activities -->
				<div class="well activity-section">
					<a href="javascript:void(0)" id="activity-{{activities' value.activity_id}}" class="btn btn-danger btn-xs activity-btn pull-right del-activity"><span class="glyphicon glyphicon-trash"></span></a>
					<a href="{{baseurl}}activity/{{activities' value.activity_id}}" class="btn btn-info btn-xs activity-btn pull-right edit-activity"><span class="glyphicon glyphicon-pencil"></span></a>
					<a href="javascript:void(0)" id="seeactivity-{{activities' value.activity_id}}" class="btn btn-warning btn-xs activity-btn pull-right see-activity"><span class="glyphicon glyphicon-eye-open"></span></a>
					<h4 class="activityNameForNotif">{{activities' value.title}} ({{activities' value.activity_type_name}})</h4>
					<hr>
					<p class="activityDescription">{{activities' value.description}}</p><br>
					<!-- if {{activities' value.nb_days_left}} == 0 && {{activities' value.nb_hours_left}} == 0 && {{activities' value.nb_minutes_left}} == 0 -->
					<p class="bg-success">L'activite est terminée</p><br>
					<!-- else -->
					<p class="bg-info">Il reste <span class="text-info"><strong>{{activities' value.nb_days_left}}</strong></span> jour(s), <span class="text-info"><strong>{{activities' value.nb_hours_left}}</strong></span> heure(s) et <span class="text-info"><strong>{{activities' value.nb_minutes_left}}</strong></span> minute(s) avant la fin de cet activité.</p><br>
					<!-- endif -->
					<p>Pourcentage accompli :</p>
					<div class="progress progress-striped active">
					  <div class="activityPercentDone hidden-elements">Pourcentage accompli : {{activities' value.percent_done}}%</div>
					  <!-- if {{activities' value.percent_done}} < 40 -->
					  <div class="progress-bar progress-bar-danger"  role="progressbar" style="width: {{activities' value.percent_done}}%">
					  <!-- elseif {{activities' value.percent_done}} >= 40 && {{activities' value.percent_done}} < 70 -->
					  <div class="progress-bar progress-bar-warning"  role="progressbar" style="width: {{activities' value.percent_done}}%">
					  <!-- else -->
					  <div class="progress-bar progress-bar-success"  role="progressbar" style="width: {{activities' value.percent_done}}%">
					  <!-- endif -->
					    <span class="sr-only">{{activities' value.percent_done}}% Complete</span>
					  </div>
					</div>
					<div class="leftTimeSeconds hidden-elements">{{activities' value.tmpLeft}}</div>
					<div class="activityCommentary hidden-elements">{{activities' value.commentary}}</div>
					<div class="activityEndDate hidden-elements">{{activities' value.end_date}}</div> 
				</div>
				<!-- endloop -->
			</div>
			<!-- else -->
			<p>Aucune activité n'a été planifiée.</p>
			<!-- endif -->
		</div>
		<div class="col-md-4 col-md-offset-1 well">
			<div><span class="glyphicon glyphicon-list-alt"></span> NOTES<a href="{{baseurl}}note" class="btn btn-info pull-right">Ajouter une note</a></div>
			<hr>
			<!-- if {{isset(notes)}} -->
			<div id="note-section-panel">
				<!-- loop notes -->
				<div class="panel panel-default">
				  <div class="panel-heading">
				  	<a href="javascript:void(0)" id="note-{{notes' value.note_id}}" class="btn btn-danger btn-xs activity-btn pull-right del-note"><span class="glyphicon glyphicon-trash"></span></a>
				  	<a href="{{baseurl}}note/{{notes' value.note_id}}" class="btn btn-info btn-xs activity-btn pull-right edit-note"><span class="glyphicon glyphicon-pencil"></span></a>
				    <h3 class="panel-title">{{notes' value.title}}</h3>
				  </div>
				  <div class="panel-body">
				    {{notes' value.full_content}}
				  </div>
				</div>
				<!-- endloop -->
			</div>
			<!-- else -->
			<p>Aucune note n'est enregistrée dans l'application</p>
			<!-- endif -->
		</div>
	<!-- include 'delete-activity-modal' -->
	<!-- include 'delete-note-modal' -->
	<!-- include 'activity_modal' -->
	</body>
	<script type="text/javascript" src="{{baseurl}}global/js/main_page.js"></script>
</html>