<!DOCTYPE html>
<html>
<head>
	<meta charset=UTF-8>
	<title>Mon profil - My Personal Agenda</title>
	<!-- include 'css_files' -->
	<link rel="stylesheet" href="{{globalurl}}css/bootstrap-extensions/x-editable/bootstrap-editable.css">
	<!-- include 'js_files' -->
	<script type="text/javascript" src="{{globalurl}}js/bootstrap-extensions/x-editable/bootstrap-editable.min.js"></script>
</head>
<body>
	<div id="notifications" class='alert alert-notification'></div>
	<!-- include 'menu_bar' -->
	<input type="hidden" id="base-url" value="{{baseurl}}">
	<div id="ajax-loader"><img src="{{baseurl}}global/img/ajaxloader.gif" alt="ajax-loader-gif"/></div>
	<div class="row">
		<div class="col-md-4 col-md-offset-1">
			<div class="well custom-well">
				<!-- include 'profile-page-sections/user_profile_section' -->
			</div>
			<div class="well custom-well">
				<span class="caret pull-right reduce"></span>
				<div class="custom-well-header">Section en travaux</div>
				<div class="reduce-panel">
					<hr>
					<p>Un nouvel élément sera bientôt disponible. Restez connecté !</p>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="well custom-well">
				<!-- include 'profile-page-sections/notification_section' -->
			</div>
			<div class="well custom-well">
				<!-- include 'profile-page-sections/activity_type_section' -->
			</div>
		</div>
	</div>
</body>
<script type="text/javascript" src="{{globalurl}}js/profile_page.js"></script>
</html>